body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f7fa;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Garante que o body ocupe toda a altura da tela */
  }
  .assign-professional-container {
      width: 100%;
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  footer {
    background-color: #2e3b4e;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    margin-top: auto; /* Empurra o footer para o final */
  }
  
  footer p {
    margin: 0;
  }
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f7fa;
    color: #333;
  
  }
  
  .opcoes-nav {
    display: flex;
    justify-content: space-between; /* Distribui os itens para os cantos */
    align-items: center; /* Alinha verticalmente */
    padding: 0px; /* Espaçamento interno */
    margin: 0px!important;
    width: 100%;
  
  }
  
  .opcoes-nav button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  
  }
  
  #specialty-services {
    background-color: #007bff;
    color: white;
    display: none;
  }
  
  
  /* Garante que os elementos fiquem empilhados verticalmente */
  .assign-professional-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  
  /* Quando a classe 'show' for adicionada, o container será exibido */
  .specialty-container.show {
    display: block;
  }
  
  
  /* Outros estilos para o select e label */
  .specialty-container label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 10px;
  }
  
  .specialty-select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    color: #333;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  .specialty-select:focus {
    border-color: #007bff;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #007bff; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border-radius: 5px; /* Cantos arredondados */
    border: none; /* Sem borda */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3; /* Cor de fundo quando o mouse passa em cima */
  }
  
  
  .button2 {
    margin-left: auto; /* Move o botão para a direita */
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button2:hover {
    background-color: #a02834; /* Cor de fundo quando o mouse passa em cima */
  }
  nav{
    width: 85%;
    margin: 0 auto;
  }
  
  header {
    background-color: #2e3b4e;
  }
  header h1{
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Mantém a cor do texto original (a mesma cor do h1) */
  }
  
  
  header .logo h1 {
    color: #fff;
    font-size: 28px;
    letter-spacing: 1px;
    padding-left: 7.5%;
    width: 100%;
    text-decoration: none; /* Remove o sublinhado */
  }
  
  
  header a{
      text-decoration: none; /* Remove o sublinhado */
      color: inherit; /* Mantém a cor do texto original (a mesma cor do h1) */
    }
  
  h2 {
      font-size: 24px;
      color: #333;
  }
  .form-group {
      margin-bottom: 15px;
  }
  label {
      display: block;
      font-size: 14px;
      margin-bottom: 5px;
      color: #555;
  }
  input[type="text"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
  }
  button {
      background-color: #007bff;
      color: white;
      padding: 10px 15px;
      font-size: 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  button:hover {
      background-color: #0056b3;
  }
  #confirmation-message {
      margin-top: 20px;
      padding: 10px;
      background-color: #d4edda;
      color: #155724;
      border: 1px solid #c3e6cb;
      border-radius: 4px;
      display: none;
  }
  /* Estilo para os botões */
  .form-group button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }
  
  .form-group button[type="button"] {
    background-color: #f44336;
  }
  
  .form-group button:hover {
    background-color: #45a049;
  }
  
  .form-group button[type="button"]:hover {
    background-color: #e53935;
  }
  
  /* Estilo para a mensagem de erro */
  .error-message {
    color: #f44336;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }
  /* Estilo para o botão "Voltar" */
  .form-group button[type="button"]:nth-child(3) {
    background-color: #FFD700; /* Cor dourada */
    color: #fff;
  }
  
  .form-group button[type="button"]:nth-child(3):hover {
    background-color: #FFCC00; /* Cor dourada mais suave ao passar o mouse */
  }
  /* Estilo básico para a página */
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  /* Container principal */
  .container {
    width: 80%;
    margin: 30px auto;
  }
  
  
  /* Estilo do botão de voltar */
  .back-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
  
    /* Posicionamento na lateral direita */
    position: fixed; /* Fixa o botão na tela */
    right: 20px; /* Define a distância da borda direita */
    top: 50%; /* Posiciona o botão no meio da tela */
    transform: translateY(-50%); /* Ajusta o posicionamento verticalmente */
  }
  
  
  .back-btn:hover {
    background-color: #0056b3;
  }
  
  /* Estilo para o link de busca */
  nav a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    transition: color 0.3s;
  }
  
  
  /* Estilos para a lista de profissionais */
  .service-list-container {
    display: none;
  }
  
  .service-list {
    list-style-type: none;
    padding: 0;
    height: 100%;
  }
  
  .service-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .service-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Cabeçalho de cada item da lista de profissionais */
  .professional-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .professional-name {
    font-size: 22px;
    color: #333;
    font-weight: bold;
  }
  
  /* Informações sobre o profissional */
  .service-item p {
    margin: 10px 0;
    font-size: 16px;
  }
  
  .availability {
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* Disponibilidade do profissional */
  .available {
    color: #28a745; /* Verde */
  }
  
  .not-available {
    color: #dc3545; /* Vermelho */
  }
  
  /* Linha horizontal separadora */
  .service-item hr {
    margin: 15px 0;
    border: 0;
    border-top: 1px solid #ddd;
  }
  
  /* Responsividade para telas pequenas */
  @media (max-width: 768px) {
    .container {
        width: 95%;
    }
  
    .back-btn {
        font-size: 14px;
        padding: 10px 14px;
    }
  
    .service-item {
        padding: 15px;
    }
  
    .professional-name {
        font-size: 20px;
    }
  
    .service-item p {
        font-size: 14px;
    }
  }
  
  
  h1, h2 {
    color: #343a40;
    text-align: center;
  }
  
  .container, .assign-professional-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 70%; /* Ajusta para 100% da largura disponível */
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  
  }
  
  button[type="submit"] {
    background-color: #28a745;
    color: white;
  }
  
  button[type="button"] {
    background-color: #6c757d;
    color: white;
  }
  
  button.back-btn {
    background-color: #007bff;
    color: white;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .service-list-container {
    margin-top: 20px;
  }
  
  .service-list {
    list-style-type: none;
    padding: 0;
  }
  
  .service-item {
    background: #e9ecef;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
  }
  
  .service-item h3 {
    margin: 0;
  }
  
  .professional-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .availability {
    margin-top: 10px;
  }
  
  .available {
    color: #28a745;
    font-weight: bold;
  }
  
  .not-available {
    color: #dc3545;
    font-weight: bold;
  }
  .assign-button {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .assign-button:hover {
    background-color: #0056b3;
  }
  
  
  .assign-professional-container{
    display: none;
  }
  
  
  /* Seção de Filtro */
  #filter-section {
    background-color: #ffffff;
    padding: 1px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #filter-section:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2); /* Efeito de foco sutil na seção */
  }
  
  #filter-section h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  #filter-form {
    display: flex;
    align-items: center;
    gap: 15px; /* Espaçamento entre os elementos */
    flex-wrap: wrap; /* Para ajustar em telas menores */
    width: 100%;
    margin-left: 10px;
  }
  
  #filter-form label {
    font-weight: bold;
  }
  
  #filter-form input,
  #filter-form select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #city {
    width: 200px; /* Ajuste conforme necessário */
  }
  
  #specialty {
    width: 250px; /* Ajuste conforme necessário */
  }
  
  
  #filter-form input[type="text"],
  #filter-form select {
    width: 300px;
    padding: 12px 16px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 18px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fafafa;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  #filter-form input[type="text"]:focus,
  #filter-form select:focus {
    border-color: #3498db;;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 0 0 6px rgba(255, 140, 0, 0.2); /* Efeito de foco suave */
    outline: none;
  }
  
  #filter-form button {
    background-color: #3498db;;
    color: #fff;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    margin-right: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 10px;
    width: auto; /* Tira a largura de 100% para que o botão ocupe apenas o espaço necessário */
    margin-left: 10px; /* Espaçamento entre o campo de especialidade e o botão */
  }
  #city-suggestions {
    position: absolute;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 500px;
    margin-left: 44px;
    margin-top:340px;
    max-height: 300px; /* Evita que a lista fique gigante */
    overflow-y: auto; /* Adiciona rolagem se houver muitas opções */
    z-index: 1000; /* Garante que fique acima de outros elementos */
    display: none; /* Esconde por padrão */
  }
  
  #city-suggestions li {
    padding: 10px;
    cursor: pointer;
    list-style: none;
    transition: background 0.2s ease-in-out;
  }
  
  #city-suggestions li:hover {
    background: #f0f0f0;
  }
  
  
  
  /* Estilo para o menu */
  .menu {
    background-color: #3498db;; /* Cor de fundo azul */
    padding: 20px 0;
    text-align: center;
    text-align: right;
  }
  
  .menu nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu nav ul li {
    display: inline-block;
    margin: 0 20px;
  }
  
  .menu nav ul li a {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .menu nav ul li a:hover {
        background-color: rgba(225, 152, 15, 0.909);
        border-radius: 10px;
    
  }#city-suggestions {
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    background-color: white;
    display: none;
    z-index: 1000;
  }
  
  #city-suggestions li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
  }
  
  #city-suggestions li:hover {
    background-color: #f0f0f0;
  }
  