/* Estilos globais */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f6f9;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 800px; /* Aumenta a largura para telas maiores */
  transition: transform 0.3s ease;
}

.container:hover {
  transform: translateY(-5px);
}

.home {
  text-align: center;
  display: block;  
}

.home h1 {
  font-size: 2.8rem; /* Ajuste para telas maiores */
  font-weight: 600;
  color: #333;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 2rem;
}

/* Estilos do formulário */
.form-container {
  padding: 1.5rem;
}

.form-container h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem; /* Ajuste para telas maiores */
  text-align: center;
  color: #333;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

form label {
  font-size: 1.1rem;
  font-weight: 500;
  color: #333;
}

form input,
form select,
form button {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1.1rem; /* Aumenta o tamanho da fonte */
  outline: none;
  transition: border-color 0.3s ease;
}

form input:focus,
form select:focus,
form button:focus {
  border-color: #4caf50;
}

form button {
  background: #4caf50;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 1.2rem; /* Aumenta o tamanho da fonte do botão */
  padding: 1.2rem;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

form button:hover {
  background: #45a049;
}

#specialtiesLabel,
#locationLabel {
  font-size: 1.1rem;
  color: #333;
  font-weight: 500;
  margin-top: 1rem;
}

#specialties,
#location {
  width: 100%;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
}

#specialties:focus,
#location:focus {
  border-color: #4caf50;
}

select[multiple] {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0.8rem;
  font-size: 1.1rem; /* Aumenta a fonte do select */
  background-color: #fff;
  transition: border-color 0.3s ease;
}

select[multiple]:focus {
  border-color: #4caf50;
}

#addressOutput {
  display: none;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f4f6f9;
  border-radius: 8px;
}

#cep-link {
  display: none;
  text-align: center;
}

#cep-link a {
  font-size: 1rem;
  color: #4caf50;
  text-decoration: none;
}

#cep-link a:hover {
  text-decoration: underline;
}

/* Estilos de verificação */
#verificationScreen {
  text-align: center;
}

#verificationScreen h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #333;
}

#verificationScreen form {
  margin-top: 1rem;
}

#verificationScreen label {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 1rem;
}

#verificationScreen input {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1.1rem;
  outline: none;
  width: 100%;
  margin-bottom: 1rem;
}

#verificationScreen button {
  background: #4caf50;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

#verificationScreen button:hover {
  background: #45a049;
}

/* Estilos responsivos para telas maiores que 600px até 1080px */
@media (max-width: 1080px) {
  .container {
    padding: 2rem;
  }


  .home h1 {
    font-size: 2.5rem;
  }

  .form-container h2 {
    font-size: 1.8rem;
  }

  form label,
  form input,
  form select,
  form button {
    font-size: 1.1rem;
  }

  #specialties,
  #location,
  select[multiple] {
    font-size: 1.1rem;
  }
  
}

@media (min-width: 1280px) {
  .container {
    max-width: 500px; /* Largura maior para telas grandes */
    padding: 2rem; /* Aumenta o espaçamento em torno do conteúdo */
    height: auto;
  }

  .home h1 {
    font-size: 0.9rem; /* Maior título */
  }
  .home p {
    font-size: 0.5rem; /* Maior título */
  }

  .form-container h2 {
    font-size: 1.5rem; /* Maior subtítulo */
  }

  form label,
  form input,
  form select,
  form button {
    font-size: 0.6rem; /* Aumenta o tamanho das fontes em geral */
  }

  #specialties,
  #location,
  select[multiple] {
    font-size: 0.6rem; /* Aumenta o tamanho das fontes dos selects */
  }
 
}

/* Estilos responsivos para telas menores que 600px */
@media (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  .home h1 {
    font-size: 2rem;
  }

  .form-container h2 {
    font-size: 1.5rem;
  }

  form label,
  form input,
  form select,
  form button {
    font-size: 1rem;
  }

  #specialties,
  #location,
  select[multiple] {
    font-size: 0.9rem;
  }
}

#cep-link {
  display: none;
  margin-top: 1rem;
  text-align: center;
}

#cep-link a {
  color: #007bff;
  text-decoration: none;
}

#cep-link a:hover {
  text-decoration: underline;
}

/* Estilos gerais para a label */
.specialties-label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  display: block;
}

/* Estilos para o campo de seleção múltipla */
.specialties-select {
  width: 100%;
  height: 200px; /* Ajuste a altura conforme necessário */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
  background-color: #f9f9f9;
  box-sizing: border-box;
  overflow-y: auto;
  font-family: Arial, sans-serif;
  transition: border-color 0.3s ease;
}

/* Quando o campo de seleção é focado, muda a cor da borda */
.specialties-select:focus {
  border-color: #007bff;
  outline: none;
}

/* Estilo para as opções do select */
.specialties-select option {
  padding: 8px;
  background-color: #fff;
  color: #333;
}

/* Muda a cor de fundo das opções quando o mouse passa por cima */
.specialties-select option:hover {
  background-color: #f1f1f1;
}

/* Quando o usuário seleciona a opção */
.specialties-select option:checked {
  background-color: #007bff;
  color: white;
}

/* Adiciona um pequeno espaçamento entre as opções */
.specialties-select option {
  margin-bottom: 5px;
}
/* Alinha o container de Endereço como flex */
#locationContainer {
  display: flex;
  align-items: center; /* Alinha o conteúdo verticalmente no centro */
  gap: 10px; /* Adiciona espaço entre o label e o input */
}

#locationLabel {
  font-size: 1.1rem;
  color: #333;
  font-weight: 500;
  margin: 0; /* Remove margens extras */
}

#location {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1.1rem;
  background-color: #fff;
  color: #333;
  width: auto; /* A largura do input pode ser automática para se ajustar ao conteúdo */
  flex-grow: 1; /* Faz o input ocupar o restante do espaço disponível */
}
 /* Contêiner de localização com flexbox */
#locationContainer {
  display: flex;
  align-items: center;
  gap: 10px; /* Adiciona um espaço entre o campo e o botão */
}

/* Se necessário, ajuste a largura dos elementos */
#cep {
  width: 150px; /* Ajuste conforme necessário */
}

#buscarEnderecoBtn {
  padding: 1rem 1rem;
}

/* Efeito de destaque para o campo de localização */
#location.highlight {
  transition: background-color 0.5s ease-in-out; /* Transição suave */
  background-color: #e0ffe0; /* Cor de fundo para destacar */
}
